.backgroundmountain {
    background-size: cover;
    background-position: right bottom;
    height: 300px;
    background-repeat: no-repeat;
}

.wrap {
    position: relative;
    top: 50%;
    left: 30%;
}

.search-bar {
    width: 40%;
    height: 32px;
    font-size: 20px;
    background-color: #efe9e7;
    text-align: center;
    border-radius: 5px;
}

.img-thumbnail2 {
    padding: 0.75rem;
    max-width: 100%;
}

.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: translateY(-10px);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
    background-color: darkolivegreen;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: black;
}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: darkcyan;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
