.bg-blue-1 {
    background-color: #2F4E63;
}

.bg-blue-2 {
    background-color: #B2D2E8;
}

.bg-blue-3 {
    background-color: #6BB3E3;
}

/* 導覽列 */
.discussion-board {
    display: flex;
    justify-content: space-between;
}

.discussion-board ul {
    list-style: none;
    display: flex;
}

.discussion-board ul li {
    position: relative;
}

.discussion-board ul li a {
    text-decoration: none;
    transition: all 0.3s;
}

.discussion-board ul li a:hover {
    color: white
}

.sub-discussion {
    display: none;
}

.discussion-board ul li:hover .sub-discussion {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
}
.discussion-board ul li:hover .sub-discussion ul {
    display: block;
    margin: 1em;
    width:100%;
}

/* 輪播圖 */
.forum-carousel {
    display: flex;
    margin: auto;
}

.imageSize {
    height: 100%;
}

