.bg-blue-1 {
    background-color: #2F4E63;
}

.bg-blue-2 {
    background-color: #B2D2E8;
}

.bg-blue-3 {
    background-color: #6BB3E3;
}

/* 導覽列 */
.discussion-board {
    padding: 0.5em;
}
.sub-discussion-board {
    display: flex;
    justify-content: left;
}
.sub-discussion-board button{
    width: 145px;
    height: 35px;
}

.sub-discussion-board a {
    text-decoration: none;
    color: white;
}

/* 輪播圖 */
.forum-carousel img{
    object-fit: cover;
}

/* 精選文章 */
/* .article {
    margin: 0.5em;
} */

/* 分頁 */
.page {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
