.bg-blue-1 {
    background-color: #2F4E63;
}

.bg-blue-2 {
    background-color: #B2D2E8;
}

.bg-blue-3 {
    background-color: #6BB3E3;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #B2D2E8;
    transition: .5s ease;
}

.overlay:hover {    
    opacity: 0.8;
}