.album {
    height: 200px;
    background-size: cover;
    border-radius: 20px;
}

.albumLink:hover .card-title {
    bottom: 20px;
    transform: scale(1.2);
    /* color: black; */
    color: white;
}

.albumLink:hover .album {
    transform: scale(1.04);
    transition: all .4s;
}

.albumBody {
    position: relative;
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
    border-radius: 20px;
}

.albumTitle {
    position: absolute;
    bottom: 0;
    transition: all .4s;
    /* color: rgb(70, 68, 68); */
    color: white;
    text-shadow: 1px 1px 2px pink;
}

.wrap img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slick-dots {
    position: static ;
    margin-top: 10px;
}

.slick-thumb li {
    width: 60px;
    height: 45px;
    margin-bottom: 10px;
}

.slick-prev, .slick-next {
    top: 40%;
}
@media (min-width:992px) {
    .slick-prev, .slick-next {
        top: 45%;
    }
}