/* 分頁 */
.page {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* 功能列 */

.discussion-item a {
  text-decoration: none;
  color: white;
}

.discussion-item button {
  margin: 0.5em;
}

/* 標籤 */
.tage {
  margin: 0.5em;
  height: 300px;
  border-radius: 0 0 5% 5%;
}

.tage h4 {
  padding: 0.5em;
}

.tage label {
  font-size: 20px;
  padding: 0.5em;
}

.tag-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 0.5em 0 0.5em;
}

@media (max-width: 992px) {
  .tage {
    height: 130px;
    border-radius: 0;
  }
}

/* 討論版 */
.discussion-page {
  margin: 0.5em;
}

.discussion-page-title {
  justify-self: center;
}

.discussion-page-list {
  border: 1px rgba(236, 236, 236, 0.5) solid;
}

.discussion-page-list a {
  text-decoration: none;
}

.discussion-page-list-image {
  width: 150px;
  height: 120px;
  margin-right: 10px;
  border-radius: 5% 5%;
}

.discussion-page-list-title p {
  margin: 4px 0 2px 0;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.discussion-page-list-text {
  display: -webkit-box;
  margin: 4px 0 2px 0;
  font-size: 14px;
  line-height: 1.5;
  color: gray;
  max-width: 500px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}

@media (max-width: 992px) {
  .discussion-page-list-image {
    display: none;
  }
  .discussion-page-list-text {
    display: none;
  }
}

@media (max-width:1210px) {
.discussion-page-list-text {
  max-width: 350px;
}
}

.discussion-page-list-author {
  text-align: center;
  vertical-align: middle;
}

.discussion-page-list-views {
  text-align: center;
  vertical-align: middle;
}

.discussion-page-list-date {
  text-align: center;
  vertical-align: middle;
}