.UserImage {
    display: flex;
    align-items: center;
}

.UserImage img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5em;
}

.UserImage form {
    width: 100%;
    display: flex;
}

.Message {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.Username{
    margin-left: 0.5em;
}

.MessageText {
    width: 100%;
    margin-right: 0.5em;
}


.MessageSubmit {
    width: 100%;
    margin-right: 0.5em;
    width: 60px;
    height: 30px;
    font-size: 12px;
}