body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.bg-main {
  background-color: #2F4E63;
}
.nav-link {
  color: white;
  position: relative;
}
.nav-link::after {
  content: "";
  display: block;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #6BB3E3;
  position: absolute;
  right: 0;
  transition: .2s .2s;
}
.nav-link:hover {
  color: white;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
}