.tab {
    display: none;
}

.image-box {
    /* border-radius: 4px; */
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/street.jpg);
}

/* .album-image-box {
    min-width: 100px;
    height: 100px;
} */

.imgCheck {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.imgLabel {
    cursor: pointer;
    position: relative;
}

.imgCheck:checked + .imgLabel img{
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* #imgLabel1 {
    margin: 5px;   
} */

.image-box img {
    border-radius: 4px;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)
}