.bg-blue-1 {
    background-color: #2F4E63;
}

.bg-blue-2 {
    background-color: #B2D2E8;
}

.bg-blue-3 {
    background-color: #6BB3E3;
}


/* .sidebar-link:hover {
    background-color: var(--bs-primary);
} */

.active-text:hover {
    color: var(--bs-primary);
}


.sidebar-link {
    color: white;
    position: relative;
}

.sidebar-link::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    bottom: 0;
    background-color: #6BB3E3;
    position: absolute;
    right: 0;
    transition: .2s .2s;
}

.sidebar-link:hover {
    color: white;
}

.sidebar-link:hover::after {
    width: 100%;
    left: 0;
}

.rm-link-style {
    text-decoration: none;
    color: black;
}


.rm-ul-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}